global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090

  - job_name: node-exporter
    static_configs:
      - targets:
          - localhost:9100

  - job_name: docker
    static_configs:
      - targets:
          - localhost:9323

remote_write:
  - url: http://prometheus-development:9090/api/v1/write
    queue_config:
      capacity: 10000
      max_shards: 200
      min_shards: 1
      max_samples_per_send: 500
      batch_send_wait: 5s
      min_backoff: 30ms
      max_backoff: 100ms
