OPENAI_API_KEY = "sk-..."
OPENAI_MODEL = "gpt-4"

NEO4J_URI = "bolt://"
NEO4J_USERNAME = "neo4j"
NEO4J_PASSWORD = "Scaibu@123"
NEO4J_PASSWORD = "Scaibu@123"

OLLAMA_BASE_URL = "http://localhost:11434"
OLLAMA_LLM = "tinyllama:1.1b"
OLLAMA_EMBED_MODEL = "all-minilm"